@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-accent-50:  #E9F2F8;
  --color-accent-100: #CFE3EF;
  --color-accent-200: #9BC3DE;
  --color-accent-300: #5FA3CC;
  --color-accent-400: #005B99;
  --color-accent-500: #1C6DA6;
  --color-accent-600: #005B99;
  --color-accent-700: #004A80;
  --color-accent-800: #003366;
  --color-accent-900: #001F3F;
  --color-accent-950: #00152A;

  --color-brand-50:  #F9FCF2;
  --color-brand-100: #F1FAE5;
  --color-brand-200: #E3F4C8;
  --color-brand-300: #CFEBA5;
  --color-brand-400: #A4D65E;
  --color-brand-500: #8FCB3D;
  --color-brand-600: #83BF36;
  --color-brand-700: #6AA12D;
  --color-brand-800: #527F24;
  --color-brand-900: #3B5C1A;
  --color-brand-950: #21300E;
}
